.team-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: inherit;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.club-logo {
  width: 8.5rem;
}
