/* 
Premier League:
background-color: #ffdeeb;
color: #171619

Ligue 1:
background-color: #e5dbff
color: #171619
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif, serif;
  color: #171619;
}
.btn {
  border: 1px solid #171619;
  border-radius: 8px;
  background-color: #fff;
  padding: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.btn--hide {
  margin-right: 2.4rem;
}

.copyright {
  text-align: center;
  margin: 4rem 0;
}
